<form ng-controller="newUser" >
	<div class="panel-body>">
			<label for="userFirstName">First Name:</label>
	    <input type="text" name="userFirstName" ng-model="userFirstName" placeholder="Evan">
	    <label for="username">Last Name:</label>
	    <input type="text" name="userLastName" ng-model="userLastName" placeholder="Bates">
	    <label for="username">Email:</label>
	    <input type="email" name="userEmail" ng-model="userEmail" placeholder="elie@wohl.com">
	    <label for="username">Password:</label>
	    <input type="password" name="userPassword" ng-model="userPassword"  placeholder="*****">
	    <p>what type of account? </p>
	    <div class="radio">
  <label><input type="radio" name="userRole" ng-model="userRole" value="false">Student</label>
</div>
<div class="radio">
  <label><input type="radio" name="userRole" ng-model="userRole" value="true">Admin</label>
</div>
	    <button type="submit" ng-click="addUser()" class="btn btn-info">Register</a>
		</div>
	</div>
</form>