<div ng-init="updateLectureInfo()" class="form-box col-xs-12">
  <h2>Create lecture</h2>
  <form ng-controller="lecture" ng-submit="createLecture()">
  	<label for="className">Lecture date</label>
	  <input required class="form-control" type="date" ng-model="date" placeholder="">
    <span class="help-block"></span>
  	<label for="className">Github</label>
    <input required class="form-control" type="text" ng-model="github" placeholder="">
    <span class="help-block"></span>
    <label for="className">Video link</label>
    <input required class="form-control" type="text" ng-model="videoLink" placeholder="">
    <span class="help-block"></span>
    <label for="className">Additional notes</label>
    <input required class="form-control" type="text" ng-model="info" placeholder="">
    <span class="help-block"></span>
    <button type="submit" class="btn btn-warning btn-block"> Create lecture </button>
  </form>
</div>
