
<div ng-controller="class">
	<h3> for which class?: </h3>
	<!-- 		<button ng-click="showClasses()"> button? </button> -->
	<table ng-table="classesTable">
				<div class="radio">
		<tr ng-repeat="class in $data">
			<td>

					<label><input type="radio" name="allClasses" ng-click="thisClass(class._id)">{{class.name}}</label>
			
			</td>
		</tr>
			</div>
	</table>
</div>
<div ng-controller="homework">
	<h3>Create Homework </h3>

	<input ng-model="name" placeholder="name">
	<textarea ng-model="description" placeholder="description"> </textarea>
	<button ng-click="createHomework()"> create homework </button>
</div>