<div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
  <h2> Show Classes </h2>
  <div ng-controller="class" ng-init="getClasses()">
  	<table ng-table="classesTable" class="table" show-filter="true">
      <tr ng-repeat="class in $data">
        <td title="'Name'"  sortable="'name'" filter="{name: 'text'}">
        	<div class="radio">
  					<label><input type="radio" name="allClasses" ng-click="thisClass(class._id)">{{class.name}}</label>
            <!-- </div> -->
            <button class="pull-right" ng-click="showDetails = ! showDetails"> More Details
            </button>
            <div ng-show="showDetails">
              <p>Datetime: {{class.datetime}} </p>
				    </div>
          </div>
        </td>
      </tr>
   	</table>
  </div>
  <div ng-controller="lecture">
  	<label for="className">Date</label>
	  <input class="form-control" type="date" ng-model="date" placeholder="">
    <span class="help-block"></span>
  	<label for="className">Github</label>
    <input class="form-control" type="text" ng-model="github" placeholder="">
    <span class="help-block"></span>
    <label for="className">Video Link</label>
    <input class="form-control" type="text" ng-model="videoLink" placeholder="">
    <span class="help-block"></span>
    <label for="className">Additional Notes</label>
    <input class="form-control" type="text" ng-model="info" placeholder="">
    <span class="help-block"></span>
    <button class="btn btn-warning btn-block" ng-click="createLecture()"> Create Lecture </button>
  </div>
</div>
