	<h3>create class:</h3>
	<form ng-controller="class">
	<div class="panel-body>">
			<label for="className">Name</label>
	    <input type="text" ng-model="name" placeholder="">
	    <label for="username">Date and Time</label>
	    <input type="text" ng-model="datetime" placeholder="">
	    <button type="submit" ng-click="createClass()" class="btn btn-info">Register</a>
	</form>
<!-- upon submit, automatically goes to the edit class 


edit class button goes a page with all the classes for the organization




name of class:

when it meets:
----

add teacher

add ta

add student

-----

edit: class


need to get a list of all students
ng repeat.  


edit class 

select the person
add to class:
drop down, teacher ta student -->