<div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1">
	<h2>Create Class</h2>
	<form ng-controller="class" ng-submit="createClass()">
	  <div class="panel-body>">
			<label for="className">Name</label>
	    <input required class="form-control" type="text" ng-model="name" placeholder="">
	    <span class="help-block"></span>
	    <label for="username">Date and Time</label>
	    <input required class="form-control" type="text" ng-model="datetime" placeholder="">
	    <span class="help-block"></span>
	    <button type="submit" class="btn btn-warning btn-block">Register</button>
	  </div>
	</form>
</div>
<!-- 
	radio buttons
teacher ta student
	list of student below -->
<!-- upon submit, automatically goes to the edit class


edit class button goes a page with all the classes for the organization




name of class:

when it meets:
----

add teacher

add ta

add student

-----

edit: class


need to get a list of all students
ng repeat.


edit class

select the person
add to class:
drop down, teacher ta student -->
