<div class="form-box col-md-offset-1 col-xs-12 col-sm-8 col-md-4">
  <div class="form-top">
    <h2>Homework</h2>
  </div>
  <div ng-controller="class" ng-init="getClasses()">
    <h3 class="classH4">Class</h3>
    <!-- 		<button ng-click="showClasses()"> button? </button> -->
  	<table ng-table="classesTable">
      <tr ng-repeat="class in $data">
      	<td title="'Name'"  sortable="'name'" filter="{name: 'text'}"> 
          <div class="radio">
            <label><input type="radio" name="allClasses" ng-click="thisClass(class._id)">{{class.name}}</label>
          <!-- </div> -->
            <button class="pull-right" ng-click="showDetails = ! showDetails"> More details
            </button> 
            <div ng-show="showDetails">
              <p>datetime: {{class.datetime}} </p>
            </div>
        </td>
      </tr>
    </table>
  </div>

  <div ng-controller="homework">
    <h3> View Homework </h3>
    <button ng-click="homeworkByClass()"> View All Homework by Class </button>
    <h3> Create Homework </h3>
    <input class="form-control" ng-model="name" placeholder="Homework Name">
    <span class="help-block"></span>
    <textarea class="form-control" ng-model="description" placeholder="Homework Description"> </textarea>
    <span class="help-block"></span>
    <input class="form-control" ng-model="duedate" placeholder="Due Date">
    <span class="help-block"></span>
    <input class="form-control" ng-model="duetime" placeholder="Due Time">
    <span class="help-block"></span>
    <button class="btn btn-warning btn-block" ng-click="createHomework()"> Create Homework </button>
  </div>
</div>

<!--  -->