<div class="form-box col-md-12">
  <div class="form-top">
    <h2>Homework</h2>
  </div>
  <div ng-controller="class" ng-init="getClasses()">
    <h3 class="classH4">Class</h3>
    <!-- 		<button ng-click="showClasses()"> button? </button> -->
    <table ng-table="classesTable" class="table">
      <tr ng-repeat="class in $data">
      	<td title="'Name'"  sortable="'name'" filter="{name: 'text'}"> 
          <div class="radio">
            <label><input type="radio" name="allClasses" ng-click="thisClass(class._id)">{{class.name}}</label>
            <!-- </div> -->
            <button class="pull-right btn-sm btn btn-default" ng-click="showDetails = ! showDetails"> More details
            </button> 
            <div ng-show="showDetails">
              <p>datetime: {{class.datetime}} </p>
            </div>
          </td>
        </tr>
      </table>
    </div>


  <div ng-controller="homework">
    <form ng-submit="createHomework()">
      <button class="btn btn-warning btn-block" ng-click="homeworkByClass()"> View all homework by class </button>
      <h3 class="btn btn-warning btn-block" ng-click="more = ! more"> Create Homework </h3>
      <p ng-show="allFields == 'false'"> Please enter all fields to continue </p>
      <div ng-show="more">
        <input required class="form-control" ng-model="name" placeholder="Homework name">
        <span class="help-block"></span>
        <textarea class="form-control" ng-model="description" placeholder="Homework description"> </textarea>
        <span class="help-block"></span>
        <input required class="form-control" type="date" ng-model="duedate" placeholder="Due date">
        <span class="help-block"></span>
        <input required class="form-control" type="time"ng-model="duetime" placeholder="Due time">
        <span class="help-block"></span>
        <button class="btn btn-warning btn-block" type="submit"> Create </button>
      </div>
    </form>   
  </div>

  </div>
</div>
