<div class="col-md-12 form-box"  ng-controller="homework" ng-init="viewSubmissions()">
  <h2> Completed</h2>
  <table ng-table="submissions" class="table">
    <tr ng-repeat="sub in $data">
      <td title="'student name'" class="col-md-12">
        name: {{sub.student.firstname}} {{sub.student.lastname}}
          <button class="pull-right btn btn-sm btn-default" ng-click="showDetails = ! showDetails"> More details
            </button>
            <div ng-show="showDetails">
              <p>heroku: {{sub.heroku}} </p>
              <p>github: {{sub.github}} </p>
            </div>
      </td>
    </tr>
  </table>
  <h2> Didn't complete homework </h2>
  <div ng-init="uncompletedSubmission()">
    <div ng-repeat="user in uncompleted">
      Shame on: {{user.firstname}} {{user.lastname}}
    </div>

  </div>
</div>
