
<div ng-controller="homework" ng-init="viewSubmissions()">
  <table ng-table="submissions">
    <tr ng-repeat="sub in $data">
      <td>
        name: {{sub.student.firstname}} {{sub.student.lastname}}
      </td>
      <td>
        Github: {{sub.github}}
      </td>
      <td>
        Heroku: {{sub.heroku}}
      </td>
    </tr>
  </table>
  <h2> Didn't complete homework </h2>
  <div ng-init="uncompletedSubmission()">
    <div ng-repeat="user in uncompleted">
      Shame on: {{user.firstname}} {{user.lastname}}
    </div>

  </div>
</div>
