<!DOCTYPE html>

<html ng-app="classApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/mainPage.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/v1.0.0/dist/ng-table.min.css">
  <script src='/views/jquery.min.js'></script>
<link rel='stylesheet' href='/views/fullcalendar.css' />

  <script src="cal.js"></script>
</head>
 
<body>
<div class="headtitle">


  </div>
  

  <div class="container-fluid"> 
TETESTST
    <div class="row">
      <div ng-controller="info" ng-init="viewInfo()" class="form-box col-xs-12 col-sm-6 col-md-3">
       <div class="row">
        <h2>Info</h2>
        <div class="pre-scrollable">
          <div class="infoBack" ng-repeat="info in infos | orderBy:'$index':true">
            <h4 class="infoTitle">{{info.title}}</h4>
            <p>{{info.information}}</p>
          </div>
        </div>
      </div> 
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-8 col-md-4">  -->
       <div id='calendar'></div>
      </div>
    </div>      


    <div ui-view autoscroll="false"></div>


    <div ng-controller="figController" class="col-md-2 pull-right">

<!-- <figure>
  <a ui-sref="home"><img src="/assets/img/home.png" width="75px" height="75px"></a>
<br />
<caption>Home</caption>
  </figure>
-->
<figure>

  <img ng-mouseenter="showClasses()" src="/assets/img/classes.png" width="30px" height="30px">  
  <br />
  <caption>Classes</caption>

</figure>


<figure>

  <img ng-mouseenter="info()" src="/assets/img/jedBoard.png" width="30px" height="30px">  
  <br />
  <caption>Post to Infoboard</caption>

</figure>

<figure>

  <img ng-mouseenter="addUserer()" src="/assets/img/addUser.png" width="30px" height="30px"> </a>
  <br />
  <caption>Add User</caption>
</figure>
<figure>

  <img ng-mouseenter="chatter()" src="/assets/img/chat.png" width="50px" height="50px">
  <br />
  <caption>Chat</caption>
</figure>

<figure>

  <img ng-mouseenter="classer()" src="/assets/img/addClass.png" width="50px" height="50px"></a>
  <br />
  <caption>Add Class</caption> 
</figure>

<figure>  

  <img ng-mouseenter="viewAssignments()"src="/assets/img/assignments.png" width="50px" height="50px"> </a>
  <br />
  <caption>Assignments</caption>  

</figure>

<figure>

  <img ng-mouseenter="metrics()" src="/assets/img/charts.png" width="50px" height="50px"> </a>
  <br />
  <caption>Metrics</caption>
</figure>


<figure>
  <img ng-mouseenter="lecture()" src="/assets/img/lectureLinks.png" width="50px" height="50px">  
  <br />
  <caption>Lecture Links</caption>

</figure>

<figure>

  <img ng-mousenter="updateUser()" src="/assets/img/user.png" width="50px" height="50px">  
  <br />
  <caption>User</caption>
</figure>

<figure>


  <a ui-sref="allUser"><img src="/assets/img/users.png" width="50px" height="50px">  </a>
  <br />
  <caption>Users</caption>
</figure>



</div>

<script type="text/javascript" src="./assets/extLibraries/socket.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<script src='/views/moment.js'></script>
<script src='/views/fullcalendar.js'></script>
<script src="/assets/app.js"></script>
<script src="/assets/javascript/controllers/user.js"></script>
<script src="/assets/javascript/controllers/figController.js"></script>
<script src="/assets/javascript/controllers/class.js"></script>
<script src="/assets/javascript/controllers/attendance.js"></script>
<script src="/assets/javascript/controllers/homework.js"></script>
<script src="/assets/javascript/controllers/info.js"></script>
<script src="/assets/javascript/controllers/lecture.js"></script>
<script type="text/javascript" src="/assets/javascript/controllers/chatController.js"></script>
<script type="text/javascript" src ="/assets/javascript/controllers/highchartsController.js"</script>
</body>

</html>