<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-7 login form-box" ng-controller="loginController">
  <form>
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" ng-model="userEmail" placeholder="Enter Username">
    <span class="help-block"></span>
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" ng-model="userPassword" placeholder="Enter Password">
    <span class="help-block"></span>
    <button type="submit" ng-click="login()" class="btn btn-info btn-lg pull-right">Log In</button>
  </form>
</div>