
<div ng-controller="info"  data-ng-init="viewInfo()">

	<h3> create jedboard</h3>
	<input ng-model="title" placeholder="title">
	<textarea ng-model="information" placeholder="information"> </textarea>
	<table ng-table="classesTable">
		<tr ng-repeat="class in $data">
			<td>
				<div class="radio">
					<label><input type="radio" ng-click="classId(class._id)">{{class.name}}</label>
				</div>


			</td>
		</tr>
	</table>
	<button ng-click="createInfo()"> Create info </button>
	<h4>  view created jedboards</h4>
<div class="row" ng-repeat="info in infos">
	<h4>This is the title{{info.title}} </h4>
	<p>this is the information:  {{info.information}}
	</div>


</div>

