<div class="form-box col-xs-12">
  <h2>Post to infoboard</h2>
  <h3 class="classH4">Choose a class</h3>
  <div ng-controller="class" ng-init="getClasses()">
    <!-- <button ng-click="showClasses()"> button? </button> -->
    <table ng-table="classesTable">
      <tr ng-repeat="class in $data">
        <td>
          <div class="radio">
            <label><input type="radio" name="selectClass"  ng-click="thisClass(class._id)">{{class.name}}</label>
       <!--    </div> -->
        </td>
      </tr>
    </table>
  </div>
  <div ng-controller="infoCreate">
    <input required ng-model="title" class="form-control" placeholder="Title">
    <span class="help-block"></span>
    <textarea class="form-control" ng-model="information" placeholder="Information"> </textarea>
    <span class="help-block"></span>
    <p class='warning'> {{message}} </p>
    <button class="btn btn-warning btn-block pull-right" ng-click="createInfo()">Create post</button>
  </div>
</div>


