<h3>Metrics: Repos and Commits by Student</h3>
<h5>Each band represents a single repo; its width corresponds to the number of commits in that repo.</h5>
<style>
.donut  {padding-left: 40px;
        padding-bottom: 60px}
  .donutform {
    padding-left: 0px;
  }
</style>
<div class="donutform" ng-controller="metricsController" ng-init="getAllUsersGithub()">
<form  ng-submit="githubLookup()" class="donutform">
 <select name="repeatSelect" id="repeatSelect" ng-model="repeatSelect">
          <option value={{github.github}} name="tester" ng-repeat="github in githubs">{{github.fname}} {{github.lname}}</option>
        </select>
  <br><br>
  <button class="btn btn-primary btn-sm" type="submit">Get Git</button>
</form>
  
  
  
  <donut-chart class="donut" data="data"></donut-chart>
  

</div>