<div  ng-controller="class">
	<div class="col-md-12 form-box">
		<h2> Current Class: {{className}}</h2>
		<div data-ng-init="viewThisClass()">
			<h3> Teacher: </h3>
			<table class="table">
				<tr ng-style="repeatStyle" ng-repeat="class in classView | filter:{roleType: 'teacher' }">
					<td>
						{{class._user.firstname}} {{class._user.lastname}}
						<button ng-click="showDetails = ! showDetails" class="pull-right"> More Info 
						</button>
						<div ng-show="showDetails">
							<p>Github:{{class._user.github}}</p>
							<p>Portfolio: {{class._user.portfolio}}</p>
							<p>Linkedin:{{class._user.linkedin}} </p>
						</div>
					</td>
				</tr>
			</table>
			<h3> Ta: </h3>
			<table class="table">
				<tr ng-style="repeatStyle" ng-repeat="class in classView | filter:{roleType: 'ta' }">
					<td>
						{{class._user.firstname}} {{class._user.lastname}}
						<button ng-click="showDetails = ! showDetails" class="pull-right"> More Info 
						</button>
						<div ng-show="showDetails">
							<p>Github:{{class._user.github}}</p>
							<p>Portfolio: {{class._user.portfolio}}</p>
							<p>Linkedin:{{class._user.linkedin}} </p>
						</div>
					</td>
				</tr>
			</table>
			<h3> Students: </h3>
			<table class="table">
				<tr ng-style="repeatStyle" ng-repeat="class in classView | filter:{roleType: 'student' }">
					<td>
						{{class._user.firstname}} {{class._user.lastname}}
						<button ng-click="showDetails = ! showDetails" class="pull-right"> More Info 
						</button>
						<div ng-show="showDetails">
							<p>Github:{{class._user.github}}</p>
							<p>Portfolio: {{class._user.portfolio}}</p>
							<p>Linkedin:{{class._user.linkedin}} </p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>