<div class="form-box col-md-12" ng-controller="class" ng-init="myClass()">

<h2> My Classes </h2>
	<table ng-table="classesTable" class="table">
    <tr ng-repeat="class in myClasses">
      <td title="'Name'"  sortable="'name'" filter="{name: 'text'}"> 
        <h4>{{class.name}}
          <a ui-sref="myClassStudents">
            <button class="btn btn-default pull-right" name="allClasses" ng-click="thisClass(class._id)" >Roster
            </button>
          </a>
          <!-- </div> -->
          <button class="btn btn-default pull-right" ng-click="showDetails = ! showDetails"> More details
          </button> 
          <div ng-show="showDetails"> 

          <p>Datetime: {{class.datetime}} </p> 
          </div></h4>
        </td>
      </tr>
    </table>
  </div>
