<div class="form-box col-xs-12" ng-controller="homework" ng-init="getAssignments()">
	<h2>Assignments</h2>
	<div ng-repeat="homework in assignments">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="radio">
					<label><input required type="radio" name="userN" ng-click="thisHomework(homework._id)">{{user.firstname}} {{user.lastname}}</label>
					Date due: {{homework.duedate | date:'shortDate'}}
					<p>Name: {{homework.name}}

					  <button ng-click="showDetails = ! showDetails" class="pull-right btn-sm btn btn-default">More info 
					  </button>
					  <div ng-show="showDetails">
					  <p>Description: {{homework.description}}</p>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
	<p>{{message}}<p>

	<button ng-click ="goToSubmit()"class="btn btn-md btn-block btn-warning"> Submit homework</button>
</div>
