<form method="POST" action="/adduser">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Sign Up </h3>
		</div>
		<div class="panel-body">
			 <label for="username">Name:</label>
	    <input type="text" name="organizationName" placeholder="Enter Name of Organization">
	    <label for="address">Address:</label>
	    <input type="text" name="address" placeholder="Street, City, State ">
	    <label for="website">Website:</label>
	    <input type="text" name="website" placeholder="http://www.evanbates.com">
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Your Info </h4>
		</div>
		<div class="panel-body>">
			<label for="userFirstName">First Name:</label>
	    <input type="text" name="userFirstName" placeholder="Evan">
	    <label for="username">Last Name:</label>
	    <input type="text" name="userLastName" placeholder="Bates">
	    <label for="username">Email:</label>
	    <input type="email" name="userEmail" placeholder="Evan@bates.com">
	    <label for="username">Password:</label>
	    <input type="text" name="userPassword" placeholder="*****">
	    <button type="submit" class="btn btn-info">Register</a>
		</div>
	</div>
</form>

