<form ng-controller="newUser">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Sign Up </h3>
		</div>
		<div class="panel-body">
			<label for="organizationName">Name:</label>
	    <input type="text" ng-model="organizationName" placeholder="Enter Name of Organization">
	    <label for="address">Address:</label>
	    <input type="text" ng-model="address" placeholder="Street, City, State ">
	    <label for="website">Website:</label>
	    <input type="text" ng-model="website" placeholder="http://www.evanbates.com">
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Your Info </h4>
		</div>
		<div class="panel-body>">
			<label for="userFirstName">First Name:</label>
	    <input type="text" name="userFirstName" ng-model="userFirstName" placeholder="Evan">
	    <label for="username">Last Name:</label>
	    <input type="text" name="userLastName" ng-model="userLastName" placeholder="Bates">
	    <label for="username">Email:</label>
	    <input type="email" name="userEmail" ng-model="userEmail" placeholder="Evan@bates.com">
	    <label for="username">Password:</label>
	    <input type="password" name="userPassword" ng-model="userPassword"  placeholder="*****">
	    <button type="submit" ng-click="register()" class="btn btn-info">Register</a>
		</div>
	</div>
</form>

