<div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
	<div class="form-top">
		<h3>Organization Registration</h3>
		<p>Fill in the form to register your Organization</p>
	</div>
	<div class="form-bottom">
    <form ng-controller="newUser">
      <div>
    		<label for="organizationName">Name</label>
        <input type="text" class="form-control" ng-model="organizationName" placeholder="Enter Name of Organization">
        <span class="help-block"></span>
      </div>
      <div>
        <label for="address">Address</label>
  	    <input type="text" class="form-control" ng-model="address" placeholder="Street, City, State ">
        <span class="help-block"></span>
      </div>
      <div>

        <label for="website">Website</label>
  	    <input type="text" class="form-control" ng-model="website" placeholder="http://www.evanbates.com">
        <span class="help-block"></span>
      </div>

      <div>
        <label for="userFirstName">First Name</label>
  	    <input type="text" class="form-control" name="userFirstName" ng-model="userFirstName" placeholder="Evan">
        <span class="help-block"></span>
      </div>
      <div>
        <label for="username">Last Name</label>
  	    <input type="text" class="form-control" name="userLastName" ng-model="userLastName" placeholder="Bates">
        <span class="help-block"></span>
      </div>
      <div>
        <label for="username">Email</label>
  	    <input type="email" class="form-control" name="userEmail" ng-model="userEmail" placeholder="Evan@bates.com">
        <span class="help-block"></span>
      </div>
      <div>
        <label for="username">Password</label>
  	    <input type="password" class="form-control" name="userPassword" ng-model="userPassword"  placeholder="*****">
        <span class="help-block"></span>
      </div>
      <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
      <button type="submit" ng-click="register()" class="btn btn-warning btn-block">Register</button>
    </form>
  </div>
</div>
