<div class="form-box col-xs-12">
  <h2> Show Classes </h2>
  <div ng-controller="class" ng-init="getClasses()">
  	<table ng-table="classesTable" class="table" show-filter="true">
      <tr ng-repeat="class in $data">
        <td title="'Name'"  sortable="'name'" filter="{name: 'text'}">
        	<div class="radio">
           <label><input type="radio" name="allClasses" ng-click="thisClass(class._id)">{{class.name}}</label>
           <!-- </div> -->
           <button class="pull-right btn btn-default btn-sm"ng-click="showDetails = ! showDetails"> More details
           </button>
           <div ng-show="showDetails">
            <p>datetime: {{class.datetime}} </p>
          </div>
        </td>
      </tr>
    </table>
    <p class="warning">{{message}}</p>
    <button class="btn btn-warning btn-block" ng-click="editThisClass()"> Edit this class </button>
    <button class="btn btn-warning btn-block" ng-click="deleteClassButton()"> Delete this class </button>
    <div ng-show="deleteChoice == 'true'">
      <h4 > Are you sure you want to delete this class?
      </h4>
      <button class="col-md-6 btn btn-default btn-lg pull-left" ng-click="deleteClass()"> yes </button>
      <button class="col-md-6 btn btn-default btn-lg pull-right" ng-click="more = ! more"> no </button>
    </div>
  </div>
</div>
</div>
