<div class="form-box col-xs-12">
  <div class="form-top">
    <h2>Submit Homework</h2>
  </div>
  <div class="form-bottom">
    <div ng-controller="homework">
      <form ng-submit="submitHw()">
      	<h4>Heroku Link</h4>
      	<input  class="form-control" ng-model="heroku">
        <span class="help-block"></span>
        <h4>Github Repo Link</h4>
        <input required class="form-control" ng-model="github">
        <span class="help-block"></span>
        <button type="submit" class="btn btn-warning btn-block"> Submit</button>
      </form>
    </div>
  </div>
</div>
