
<div ng-controller="lecture" ng-init="updateLectureInfo()" class="form-box col-xs-12 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-1">
  <form ng-submit="updateLecture()">
  	<label for="className">Github</label>
    <input required class="form-control" type="text" ng-model="github" placeholder="">
    <span class="help-block"></span>
    <label for="className">Video Link</label>
    <input required class="form-control" type="text" ng-model="videoLink" placeholder="">
    <span class="help-block"></span>
    <label for="className">Additional Notes</label>
    <input required class="form-control" type="text" ng-model="info" placeholder="">
    <span class="help-block"></span>
    <button type="submit" class="btn btn-warning btn-block"> Update Lecture </button>
  </form>
</div>