<!-- <!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body> -->
<h3>This is the page for logged in users</h3>
<p>Soon all of our awesome content will go here!</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      Calendar
    </div>
 
    <div class="col-md-6">
      Info Board
    </div>
  </div>
</div>

<!-- </body>
</html> -->
