<div  class="col-md-12 form-box" ng-controller="lecture" ng-init="viewLecture()">
  <table ng-table="viewLectureTable" class="table" show-filter="true">
    <tr ng-repeat="data in $data">
      <td title="'Date'"  sortable="'date'">
      	<div class="radio">
          <label><input ng-click="thisLectureId(data._id)" type="radio" name="allClasses" ng-click="">{{data.date |  date:"MM/dd/yyyy" }}</label>
        </div>
      </td>
      <td title="'posted By'" >
        {{data.poster.firstname}} {{data.poster.lastname}}
      </td>
    </tr>
  </table>
  <button class="btn btn-warning btn-block" ng-click="editLecture()"> edit </button>
  <button class="btn btn-warning btn-block" ng-click="more = ! more"> Delete Attend
  </button>
  <div ng-show="more">
    <h4> are you sure you want to deletet this class?
    </h4>
    <button class="col-md-6 btn btn-lg btn-default pull-left" ng-click="deleteLecture()"> yes </button>
    <button class="col-md-6 btn btn-lg btn-default pull-right" ng-click="more = ! more"> no </button>
  </div>
  <p ng-show="allFields == 'false'"> please enter all fields to continue </p>
</div>

<!-- on this page, you can view all the lecture, adn choose to either edit or delete it
  this lecture -->
