<!DOCTYPE html>

<html>

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/splashPage.css">

</head>
<title>Good Form</title>
<body>
  <nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/registration">Register Your Organization<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Good Form <span class="caret"></span></a>
          <ul class="dropdown-menu" id="goodFormDesc">
            <li>&nbsp; &nbsp; &nbsp; Good Form is a web application that streamlines administration and communication for your organization. You can easily register and track your students and classes and manage administrative elements, including attendance, homework submission, and Github metrics.</br> &nbsp; &nbsp; &nbsp;</br> For your students, there is a clean interface hub to see important dates and announcements and to submit assignments. All users can connect with others by seeing the profile details of teachers, TAs, and other students. </br> &nbsp; &nbsp; &nbsp;  </br> &nbsp; We look forward to working with you to run your business in good form.<span class="sr-only"></span></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-7 login form-box">
  <form method="POST" action="/login">
    <label for="username">Username</label>
    <input id="username" type="text" class="form-control" name="username" ng-model="userEmail" placeholder="Enter username">
    <span class="help-block"></span>
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control" name="password" ng-model="userPassword" placeholder="Enter password">
    <span class="help-block"></span>
    <button type="submit" class="logbutbg btn btn-info btn-lg pull-right">Log in</button>
      <button class="btn btn-primary btn-lg " id="adminDemo"> Admin demo </button>
  <button class="btn btn-primary btn-lg" id="studentDemo"> Student demo </button>
  </form>
<!--   <button class="btn btn-primary btn-lg " id="adminDemo"> Admin demo </button>
  <button class="btn btn-primary btn-lg" id="studentDemo"> Student demo </button> -->
</div>

  <!-- jQuery -->
  <script src="views/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/assets/javascript/controllers/demoButton.js"></script>

</body>

</html>
