<!DOCTYPE html>

<html>

<head>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script> -->
  <!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script> -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/splashPage.css">
</head>

<body>
      <a href="/registration" class="btn btn-primary">Register Your Organization<span class="sr-only">(current)</span></a>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      About Good Form
      </a>
       <div class="collapse" id="collapseExample">
        <div class="well">
          <p>Good-Form is a tool that streamlines administration and communication for your organization. You can input your specific class details, assign roles and students to classes.For the students, there is a clean interface hub to see important dates and announcements and to submit assignments. Users can connect with others via a chat or by seeing the profile details of the Teachers, TAs, and other Students. As an administrator you can easily register and track users and classes and manage administrative elements, including tracking attendance, homework submission, and github metrics. </p><p>We look forward to working with you to run your business in good form.</p>
        </div>
      </div>




<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-7 login form-box">
  <form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" ng-model="userEmail" placeholder="Enter Username">
    <span class="help-block"></span>
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" ng-model="userPassword" placeholder="Enter Password">
    <span class="help-block"></span>
    <button type="submit" class="logbutbg btn btn-info btn-lg pull-right">Log In</button>
  </form>
</div>

  <!-- <script src="/assets/app.js"></script> -->
  <!-- jQuery -->
  <script src='views/jquery.min.js'></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>
