body{
  background: url('/assets/img/good_form.jpg') no-repeat 100% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.login {
  padding-top: 38%;
  padding-left: 5%;
}

