body{
  /*background: url('/assets/img/good_form.jpg') no-repeat 100% 50% fixed;*/
  background-color: #00838f;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #777
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/*FORM HEADERS*/

.form-box h2 {
  padding: 10px;
  border-radius: 5px;
  background-color: #505050;
  text-align: center;
  color: #F0AD4E;
}

/* REGISTRATION */
.form-box {
  background-color: #ececec;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 5%;
}

.register-span {
  text-align: center;
}

.login {
  background-color: transparent;
  margin-top: 38%;
  margin-right: 5%;
}

/*CHAT*/
ul.msgList.pre-scrollable {
  max-height: 250px;
}
/*JEDBOARD*/
.classH4 {
  font-style: italic;
  color: #777;
}

.infoBack {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: white;
}

.infoTitle {
  font-weight: bold;
}
